*
{
	padding:0;
	margin:0;
}
#options{
	background-color:#fff;
	color:#17202A;
}
.logo{
	width:50px;
	height:50px;
}
.wrapper{
	padding:10px;
}
nav{
	display:flex;
	justify-content:flex-start;
}
nav ul li{
	display:inline-block;
	padding: 15px 10px;
}
nav ul li a{
	text-decoration:none;
	color:#17202A;
}
nav ul li:hover{
	background-color:#229954;
}
i{
	width:20px;	
}
.search{
	padding:5px;
	display:flex;
}
.search-box{
	display:flex;
	border: 2px solid #ccc;
    border-radius: 25px;
    padding: 10px 12px;
}
.search-box input{
    border: none;
    outline: none;
	
}
.search-box button {
    background: none;
    border: none;
}
.darkmode{
padding:15px 10px 10px 10px;
display:inline;
}
.darkmode:hover{
	background-color:#D3D3D3;
}
.buttons{
	background-color:#fff;
	color: #000000;
}
.buttons ol li{
	display:inline-block;
	padding: 15px 10px;
}
.buttons ol li{
	text-decoration:none;
	background-color:#fff;
	border-radius:20px;
	
}
.buttons ol li:hover{
	background-color:#c6bfc3;
}
.buttons ol li a{
	text-decoration:none;
	border-radius:20px;
	color: #000000;
}
.logging{
	padding:15px;
	display:flex;
}
.log a{
	padding:5px;
	text-decoration:none;
	color:#000000;
	background-color:#229954;
	border-width:40px;
	border-radius:10px;
}
.subjects{
	padding:10px;
	background-color:#242124;
	color:#000000;
	word-spacing:10px;
}
.subjects a{
	text-decoration:none;
	color:#fff;
	padding:10px;
	background-color:#242124;
	font-size:13px;
}
.subjects a:hover{
	background-color:#000000;
}
.subjects i{
	color:#fff;
}

.left-side{
	display:flex;
	padding:10px;
	width:20%;
	height:10%;
	background-color:#ebe8eb;
}
.left-side a{
	text-decoration:none;
	color:#000000;
	padding:7px 20px;
}
.choose h2{
	padding:5px;
}
.choose a:hover{
	background-color:#c4bdc4;
}
.home{
	float:right;
	width:70%;
}
.home h1{
	font-size:50px;
	padding:10px;
}
.btn1{
	padding:5px 10px;
	border-radius:10px;
	justify-content:space-between;
	background-color:#229954;
	color:#fff;
	font-size:30px;
	font-weight:10px;
}
.btn1{
	margin-top:20px;
	margin-left:-20px;
}
.home button{
	padding:10px 20px;
	border-radius:10px;
	justify-content:space-between;
	background-color:#229954;
	color:#fff;
	font-size:20px;
}
.home button{
	margin-top:20px;
	margin-right:260px;
}
.home button i{
	font-size:15px;
}